node_modules/
.idea/
.venv/
*/**/__pycache__/
*__pychache/
client/.nuxt/
client/node_modules/
client/node_modules/dist
venv/

*.pyc
*.pyo
__pycache__/
**/__pycache__/*
*.sqlite3

client/.eslintcache
api/*
