[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djoser = "*"
httpie = "*"
validate-email = "*"
django-rest-auth = "*"
django-filter = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
