// Universal input, buttons

/*
  ============================================================
  Auth-modal (main)
  ============================================================
*/
.auth-modal {
  //font-family: 'Gotham Pro', sans-serif;
  margin: 0 auto;

  width: 55rem;

  background: #141415;
  box-shadow: 0 0 2.2rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;

  // overflow: hidden;
  padding: 3.5rem 5rem 2.4rem;

  position: relative;
  @media only screen and (max-width: 600px) {
    width: auto;
    margin: 0 16px;
    margin: 16px;
    padding: 24px 16px;
    height: calc(100vh - 48px);
  }
}
.auth-modal__close {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #FFFFFF;

  position: absolute;
  bottom: calc(100% + 1.4rem);
  right: 0;
  @media only screen and (max-width: 600px) {
    bottom: calc(98% + 1.4rem);
  }
}
.auth-modal__title {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 104.2%;
  letter-spacing: -0.07rem;
  color: #FFFFFF;

  margin-bottom: 3.8rem;
}
.auth-modal__title-highlighted {
  font-weight: 700;
  color: #C55BEA;

  margin-left: .25em;
}
.auth-modal__text {
  font-weight: 350;
  font-variation-settings: 'wght' 350;
  font-size: 1.8rem;
  line-height: 134.7%;
  letter-spacing: 0.03rem;
  color: #878787;
  &-highlighted {
    display: inline-block;
    text-decoration: none;

    color: #975DEA;

    padding: 0;
    margin: 0;
    border: 0;
    outline: none;

    margin-left: .25em;
    margin-right: .25em;
  }
}
.auth-modal__button {
  height: 4.8rem;
  padding: 0 1.6rem;
  min-width: 17rem;

  background: #975DEA;
  border-radius: .7rem;

  font-weight: 350;
  font-variation-settings: 'wght' 350;
  font-size: 1.8rem;
  line-height: 134.7%;
  letter-spacing: 0.03rem;
  color: #FFFFFF;
}
.auth-modal__redirects {

}
.auth-modal__redirect {
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
.auth-modal__error {
  font-weight: 350;
  font-variation-settings: 'wght' 350;
  font-size: 1.8rem;
  line-height: 115.2%;
  letter-spacing: 0.03rem;
  color: #EA5D5D;
}
/*
  ============================================================
  Form, fields, checkbox, buttons
  ============================================================
*/
.form {
  width: 45rem;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    width: auto;
  }
}
.field {
  display: block;
  &__container {
    background: #353535;
    border-radius: .7rem;

    padding: 0 2rem 0 2rem;
    height: 4.8rem;

    display: flex;
    align-items: center;

    position: relative;

    border: .2rem solid #353535;
    &.invalid {
      background: #412525;
      border-color: #412525;
    }

    &:focus,
    &:focus-within {
      background: none;
      border-color: #353535;

      .field__error {
        display: none;
      }
    }
  }
  &__icon {
    flex: 0 0 auto;

    width: 2.4rem;
    height: 2.4rem;
    color: #878787;

    margin-right: 1.8rem;
  }
  &__input {
    border: none;
    outline: none;
    background: none;
    padding: 0;

    width: 100%;

    font-weight: 350;
    font-variation-settings: 'wght' 350;
    font-size: 1.8rem;
    line-height: 134.7%;
    letter-spacing: 0.03rem;
    color: #FFFFFF;

    &::placeholder {
      color: #878787;
    }
    &.valid {

    }
  }
  &__error {
    flex: 0 0 auto;
    width: 20rem;
    justify-self: flex-end;
    margin-top: 12px;
    font-weight: 350;
    font-variation-settings: 'wght' 350;
    font-size: 1.5rem;
    line-height: 115.2%;
    text-align: right;
    letter-spacing: 0.03rem;
    color: #EA5D5D;
  }
}
.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  &__input {
    opacity: 0;
    position: absolute;
    left: -9999px;
    &:checked ~ .checkbox__box {
      &:after {
        opacity: 1;
      }
    }
  }
  &__box {
    flex: 0 0 auto;

    width: 2rem;
    height: 2rem;

    background: #333A3D;
    border-radius: .5rem;

    position: relative;

    margin-right: 1.4rem;

    &:after {
      content: '';

      width: 1rem;
      height: 1rem;

      background: #975DEA;
      border-radius: .3rem;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      opacity: 0;
    }
  }
  &__text {
    font-weight: 350;
    font-size: 1.8rem;
    line-height: 134.7%;
    letter-spacing: 0.03rem;
    color: #878787;
  }
  &__link {
    font-weight: 350;
    font-size: 1.8rem;
    line-height: 134.7%;
    letter-spacing: 0.03rem;
    color: #975DEA;
    text-decoration: underline;

    margin-left: .25em;
    margin-right: .25em;
  }
}
